.container__paciente-master {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
  
    .container_buttons-paciente {
      display: grid;
      grid-template-columns: 100px 100px 100px;
      grid-gap: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
    }
  }
  
  @media screen and (min-width: 375px) {
    .container__paciente-master {
      padding-left: 50px;
      padding-right: 50px;
  
      .container_buttons-paciente {
        grid-template-columns: 80px 95px 80px;
      }
    }
  }
  