<app-navbar></app-navbar>

<div class="container__paciente-master">
  <h1>Registro Paciente</h1>
  <form class="row g-3" [formGroup]="reactiveForm">
    <div class="col-md-4">
      <label class="form-label">Nombre completo</label>
      <input formControlName="nombre" type="text" class="form-control" placeholder="Escriba su nombre completo" />
    </div>
    <div class="col-md-2">
      <label class="form-label">Cédula<img (click)="buscar()" src="../../../assets/lupa.png" alt="" style="width: 20px; height: 20px; object-fit: cover; cursor: pointer;"></label>
      <input formControlName="cedula" type="number" class="form-control" placeholder="Número de cédula" />
    </div>

    <div class="col-md-3">
      <label class="form-label">Fecha de nacimiento</label>
      <input formControlName="nacimiento" type="date" class="form-control" />
    </div>
    <div class="col-md-3">
      <label class="form-label">Celular</label>
      <input formControlName="celular" type="text" class="form-control" placeholder="Número de celular" />
    </div>

    <div class="col-md-2">
      <label class="form-label">Sexo</label>
      <select formControlName="sexo" class="form-select" >
        <option value="0"></option>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
        <option value="otro">Otro</option>
      </select>
    </div>
    <div class="col-md-1">
      <label class="form-label">Edad</label>
      <input formControlName="edad" type="number" class="form-control" />
    </div>

    <div class="col-md-2">
      <label class="form-label">EPS</label>
      <select formControlName="eps" class="form-select">
        <option value="0"></option>
        <option value="Sura">Sura</option>
        <option value="Coomeva">Coomeva</option>
        <option value="Medimas">Medimas</option>
        <option value="Sanitas">Sanitas</option>
        <option value="Cafesalud">Cafesalud</option>
        <option value="Cruz blanca">Cruz Blanca</option>
        <option value="Compensar">Compensar</option>
        <option value="Famisanar">Famisanar</option>
        <option value="Nueva EPS">Nueva EPS</option>
        <option value="Salud Total">Salud Total</option>
        <option value="Otra">Otra</option>
      </select>
    </div>

    <div class="col-md-2">
      <label class="form-label">Otra EPS</label>
      <input formControlName="otraeps" type="text" class="form-control" />
    </div>


    <div class="col-md-2">
      <label class="form-label">Medicina Prepagada</label>
      <select formControlName="medicinaPrepagada" class="form-select">
        <option value="0"></option>
        <option value="sura">Sura</option>
        <option value="Colmedica">Colmedica</option>
        <option value="Colsanitas">Colsanitas</option>
        <option value="Compensar">Compensar</option>
        <option value="Medisanitas">Medisanitas</option>
        <option value="Medplus">Medplus</option>
        <option value="4">Otra</option>
      </select>
    </div>

    <div class="col-md-2">
      <label class="form-label">Otra Medicina Prepagada</label>
      <input formControlName="otramed" type="text" class="form-control" />
    </div>

    <div class="col-md-2">
      <label class="form-label">Estado Civil</label> 
      <select formControlName="estadocivil" class="form-select">
        <option value="0"></option>
        <option value="soltero">Soltero</option>
        <option value="casado">Casado</option>
        <option value="unionlibre">Unión Libre</option>
      </select>
    </div>

    <div class="col-md-2">
      <label class="form-label">Hijos</label>
      <select formControlName="hijos" class="form-select">
        <option value="0"></option>
        <option value="1">Si</option>
        <option value="2">No</option>
      </select>
    </div>

    <div class="col-md-2">
      <label class="form-label">Cuantos Hijos</label>
      <input formControlName="cuantoshijos" type="number" class="form-control" />
    </div>

    <div class="col-md-2">
      <label class="form-label">Dirección</label>
      <input formControlName="direccion" type="text" class="form-control" />
    </div>


    <div class="col-md-2">
      <label class="form-label">Ciudad</label>
      <select formControlName="ciudad" class="form-select">
        <option value="0"></option>
        <option value="Arauca">Arauca</option>
        <option value="Armenia">Armenia</option>
        <option value="Barranquilla">Barranquilla</option>
        <option value="Bogotá">Bogotá</option>
        <option value="Bucaramanga">Bucaramanga</option>
        <option value="Cali">Cali</option>
        <option value="Cartagena">Cartagena</option>
        <option value="Cúcuta">Cúcuta</option>
        <option value="Florencia">Florencia</option>
        <option value="Ibagué">Ibagué</option>
        <option value="Leticia">Leticia</option>
        <option value="Manizales">Manizales</option>
        <option value="Medellín">Medellín</option>
        <option value="Mitú">Mitú</option>
        <option value="Mocoa">Mocoa</option>
        <option value="Montería">Montería</option>
        <option value="Neiva">Neiva</option>
        <option value="Pasto">Pasto</option>
        <option value="Pereira">Pereira</option>
        <option value="Popayán">Popayán</option>
        <option value="Puerto Carreño">Puerto Carreño</option>
        <option value="Puerto Inírida">Puerto Inírida</option>
        <option value="Quibdó">Quibdó</option>
        <option value="Riohacha">Riohacha</option>
        <option value="San Andrés">San Andrés</option>
        <option value="San José del Guaviare">San José del Guaviare</option>
        <option value="Santa Marta">Santa Marta</option>
        <option value="Sincelejo">Sincelejo</option>
        <option value="Tunja">Tunja</option>
        <option value="Valledupar">Valledupar</option>
        <option value="Villavicencio">Villavicencio</option>
        <option value="Yopal">Yopal</option>
        <option value="Otra">Otra</option>
      </select>
    </div>

    <div class="col-md-2">
      <label class="form-label">Otra Ciudad</label>
      <input formControlName="otraciudad" type="text" class="form-control" />
    </div>

    <div class="col-md-4">
      <label class="form-label">Nombre de contacto</label>
      <input formControlName="nombreContacto" type="text" class="form-control" />
    </div>

    <div class="col-md-2">
      <label class="form-label">Parentesco</label>
      <select formControlName="parentesco" class="form-select">
        
        <option value="Padre">Padre</option>
        <option value="Madre">Madre</option>
        <option value="Hijo">Hijo/a</option>
        <option value="Esposo">Esposo</option>
        <option value="Amigo">Amigo/a</option>
      </select>
    </div>
    
    <div class="col-md-2">
      <label class="form-label">Teléfono de Contacto</label>
      <input formControlName="celularContacto" type="text" class="form-control" />
    </div>
  </form>

  <div class="container_buttons-paciente">
    <button type="button" class="btn btn-success" (click)="guardar()" >Guardar</button>
    <button (click)="actualizar()" style="color: white" type="button" class="btn btn-warning">
      Actualizar
    </button>
    <button (click)="eliminar()" type="button" class="btn btn-danger">Eliminar</button>
  </div>


