<app-navbar></app-navbar>

<div *ngIf="viewTable" class="container__usuarios-master">
  <h1>Registro Usuarios</h1>
  <br />
  <form [formGroup]="reactiveForm">
    <div class="col-md-4">
      <label class="form-label"><h6>Nombre Completo</h6></label>
      <input formControlName="name" type="name" class="form-control" placeholder="Escriba su nombre completo" />
    </div>
    <br />
    <div class="col-md-3">
      <label class="form-label"><h6>Celular</h6></label>
      <input formControlName="number" type="number" class="form-control" placeholder="Escriba su número de celular" maxlength="10"
      />
    </div>
    <br />
    <div class="col-md-4">
      <label class="form-label"><h6>Correo Electrónico <img (click)="buscar()" src="../../../assets/lupa.png" alt="" style="width: 20px; height: 20px; object-fit: cover; cursor: pointer;"></h6></label>
      <input formControlName="email" type="email" class="form-control" placeholder="Escriba su correo electrónico" />
    </div>
    <br />
    <div class="col-md-3">
      <label class="form-label" for="inputPassword5"><h6>Contraseña</h6></label>
      <input formControlName="password" type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Escriba su contraseña" />
      <small id="passwordHelpBlock" class="form-text text-muted">
        Su contraseña debe contener de 6 a 10 caracteres máximo, puede contener números y letras, no puede contener caracteres especiales.
      </small>
    </div>
    <br />
    <div class="container_buttons-usuarios">
      <button type="button" class="btn btn-success" (click)="guardar()" [disabled]="statusBoton">Guardar</button>
      <button type="button" class="btn btn-warning" (click)="actualizar()" [disabled]="statusBoton">Actualizar</button>
      <button type="button" class="btn btn-danger" (click)="eliminar()" [disabled]="statusBoton">Eliminar</button>
      <button type="button" class="btn btn-dark" (click)="listar()">Listar</button>
    </div>
  </form>
</div>

<div *ngIf="!viewTable"  class="container__usuarios-master">
  <h1>Lista de usuarios</h1><br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Correo</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Contraseña</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataList">
        <th scope="row">{{ item?.id }}</th>
        <td>{{ item?.name }}</td>
        <td>{{ item?.email }}</td>
        <td>{{ item?.number }}</td>
        <td>{{ item?.password }}</td>
      </tr>

    </tbody>
  </table>

  <div class="container_buttons-usuarios">
    <button (click)="volver()" type="button" class="btn btn-dark">
      Volver
    </button>
  </div>
</div>

