<form [formGroup]="reactiveForm">

    <body>
        <section class="form-login">
            <h5>Inicio de Sesion</h5>
            <input class="controls" type="text" formControlName="usuario" value="" placeholder="Usuario">
            <input class="controls" type="password" formControlName="contrasena" value="" placeholder="Contraseña">
            <input class="buttons" type="submit" name="" value="Ingresar" (click) = "iniciarSesion()">
        </section>
    </body>
    
    
</form>

