.container__cards-menu {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  padding-top: 50px;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 25px;
  justify-content: center;
  justify-items: center;
  text-align: center;
}


@media screen and (min-width: 375px) {
  .container__cards-menu {
  display: grid;
  grid-template-columns: auto;
  
}
}

@media screen and (min-width: 1024px) {
  .container__cards-menu {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 25px;
    justify-content: center;
    justify-items: center;
    text-align: center;
  
}
}