<app-navbar></app-navbar>

 <h1 style="text-align: center; padding-top: 80px;">Bienvenido!, App</h1>

<div class="container__cards-menu">
   

  <div class="card" style="width: 18rem; text-align: center; align-items: center; align-content: center;">
    <img style="width: 200px; height: 200px; object-fit: cover;" src="../../../assets/paciente.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Módulo Pacientes</h5>
      <p class="card-text">
        En este módulo podrás realizar ingreso de pacientes a la base de datos.
      </p>
      <a routerLink="/paciente" class="btn btn-primary">Ingresar...</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; text-align: center; align-items: center; align-content: center;">
    <img  style="width: 200px; height: 200px; object-fit: cover; align-items: center; padding-left: 30px; padding-top: 25px;" src="../../../assets/logo_historia.png" class="card-img-top" alt="historia" />
    <div class="card-body">
      <h5 class="card-title">Módulo historia clínica</h5>
      <p class="card-text">
        En este módulo podrás realizar ingreso de historias clínicas a la base de datos.
      </p>
      <a routerLink="/historia" class="btn btn-primary">Ingresar...</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; text-align: center; align-items: center; align-content: center;">
    <img style="width: 200px; height: 200px; object-fit: cover;" src="../../../assets/users.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Módulo usuarios</h5>
      <p class="card-text">
        En este módulo podrás realizar ingreso de usuarios a la base de datos.
      </p>
      <a routerLink="/usuarios" class="btn btn-primary">Ingresar...</a>
    </div>
  </div>
</div>



