<app-navbar></app-navbar>

<div *ngIf="viewTable" class="container__historia-master">
  <h1>Historia clínica</h1>
  <form class="row g-3" [formGroup]="reactiveForm">
    <div class="col-md-4">
      <label class="form-label">Nombre completo</label>
      <input formControlName="name" type="text" class="form-control" />
    </div>
    <div class="col-md-2">
      <label class="form-label">Cédula <img (click)="buscar()" src="../../../assets/lupa.png" alt="" style="width: 20px; height: 20px; object-fit: cover; cursor: pointer;"></label>
      
      <input
        formControlName="identification"
        type="number"
        class="form-control"
      />
      
    </div>
    <div class="col-md-3">
      <label class="form-label">Fecha de nacimiento</label>
      <input formControlName="birthday" type="date" class="form-control" />
    </div>
    <div class="col-md-3">
      <label class="form-label">Celular</label>
      <input formControlName="phone" type="number" class="form-control" />
    </div>

    <div class="col-md-2">
      <label class="form-label">Sexo</label>
      <select formControlName="sex" class="form-select">
        <option value="1">Masculino</option>
        <option value="2">Femenino</option>
        <option value="3">Otro</option>
      </select>
    </div>
    <div class="col-md-1">
      <label class="form-label">Edad</label>
      <input formControlName="age" type="number" class="form-control" />
    </div>

    <div class="col-md-2">
      <label class="form-label">EPS</label>
      <select formControlName="eps" class="form-select">
        <option value="1">Sura</option>
        <option value="2">Coomeva</option>
        <option value="3">Medimas</option>
        <option value="4">Sanitas</option>
        <option value="5">Otra</option>
      </select>
    </div>

    <div class="col-md-2">
      <label class="form-label">Medicina Prepagada</label>
      <select formControlName="medicalPre" class="form-select">
        <option value="1">Sura</option>
        <option value="2">Coomeva</option>
        <option value="3">Sanitas</option>
        <option value="4">Otra</option>
      </select>
    </div>

    <div class="col-md-2">
      <label class="form-label">Fecha de consulta</label>
      <input formControlName="dateQuery" type="date" class="form-control" />
    </div>

    <div class="col-md-1">
      <label class="form-label">Hora consulta</label>
      <input formControlName="dateTime" type="text" class="form-control" />
    </div>

    <div class="col-md-1">
      <label class="form-label">Peso (Kg)</label>
      <input formControlName="weight" type="number" class="form-control" />
    </div>

    <div class="col-md-1">
      <label class="form-label">Estatura (Cm)</label>
      <input formControlName="height" type="number" class="form-control" />
    </div>

    <div class="col-md-2">
      <label class="form-label">IMC</label>
      <input formControlName="imc" type="text" class="form-control" />
    </div>

    <div formGroupName="alergias" class="col-md-2">
      <label class="form-label"> Alergias &nbsp;</label>
      <div class="form-check form-check-inline">
        <input
          formControlName="flexRadioDefault11"
          value="1"
          class="form-check-input"
          type="radio"
          name="flexRadioDefault11"
          id="flexRadioDefault11"
        />
        <label class="form-check-label" for="flexRadioDefault1"> Si </label>
      </div>
      <div class="form-check form-check-inline">
        <input
          formControlName="flexRadioDefault11"
          value="0"
          class="form-check-input"
          type="radio"
          name="flexRadioDefault11"
          id="flexRadioDefault11"
          checked
        />
        <label class="form-check-label" for="flexRadioDefault2"> No </label>
      </div>
      <label class="form-label">¿Cuáles?</label>
      <input formControlName="which" type="text" class="form-control" />
    </div>

    <div formGroupName="antecedentes" class="col-md-3">
      <label class="form-label"> Antecedentes familiares &nbsp;</label>

      <div class="form-check form-check-inline">
        <input
          formControlName="flexRadioDefault22"
          class="form-check-input"
          type="radio"
          value="1"
          type="radio"
          name="flexRadioDefault22"
          id="flexRadioDefault22"
        />
        <label class="form-check-label" for="inlineRadio1">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          formControlName="flexRadioDefault22"
          class="form-check-input"
          type="radio"
          value="0"
          name="flexRadioDefault22"
          id="flexRadioDefault22"
          checked
        />
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
      <label class="form-label">¿Cuáles?</label>
      <input formControlName="which" type="text" class="form-control" />
    </div>

    <div formGroupName="fumar" class="col-md-4">
      <label class="form-label"> ¿Fuma? &nbsp;</label>

      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          value="1"
          formControlName="flexRadioDefault33"
          name="flexRadioDefault33"
          id="flexRadioDefault33"
        />
        <label class="form-check-label" for="inlineRadio1">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          value="0"
          formControlName="flexRadioDefault33"
          name="flexRadioDefault33"
          id="flexRadioDefault33"
          checked
        />
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
      <label class="form-label">¿Cuantas veces por semana?</label>
      <input formControlName="which" type="text" class="form-control" />
    </div>

    <div formGroupName="ejercicio" class="col-md-4">
      <label class="form-label"> ¿Hace ejercicio? &nbsp;</label>

      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          value="1"
          formControlName="flexRadioDefault44"
          name="flexRadioDefault44"
          id="flexRadioDefault44"
        />
        <label class="form-check-label" for="inlineRadio1">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          value="0"
          formControlName="flexRadioDefault44"
          name="flexRadioDefault44"
          id="flexRadioDefault44"
          checked
        />
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
      <label class="form-label">¿Cuantas veces por semana?</label>
      <input formControlName="which" type="text" class="form-control" />
    </div>

    <div formGroupName="cirugias" class="col-md-3">
      <label class="form-label"> ¿Cirugías? &nbsp;</label>

      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          value="1"
          formControlName="flexRadioDefault55"
          name="flexRadioDefault55"
          id="flexRadioDefault55"
        />
        <label class="form-check-label" for="inlineRadio1">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          value="0"
          formControlName="flexRadioDefault55"
          name="flexRadioDefault55"
          id="flexRadioDefault55"
          checked
        />
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
      <label class="form-label">¿Cuáles?</label>
      <input formControlName="which" type="text" class="form-control" />
    </div>

    <div formGroupName="hospitalizacion" class="col-md-2">
      <label class="form-label"> ¿Hospitalizaciones? &nbsp;</label>
      <br />
      <div style="padding-top: 5px" class="form-check form-check-inline">
        <input class="form-check-input" type="radio" value="1" formControlName="flexRadioDefault"
        name="flexRadioDefault"
        id="flexRadioDefault2"/>
        <label class="form-check-label" for="inlineRadio1">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" value="0" formControlName="flexRadioDefault"
        name="flexRadioDefault"
        id="flexRadioDefault2"
        checked/>
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
    </div>

    <div class="col-md-4">
      <label for="exampleFormControlTextarea1">Motivo de la consulta</label>
      <textarea
        formControlName="motivo"
        class="form-control"
        rows="3"
      ></textarea>
    </div>

    <div class="col-md-6">
      <label for="exampleFormControlTextarea1"
        >Observaciones y hallazgos de la consulta</label
      >
      <textarea
        formControlName="observation"
        class="form-control"
        rows="3"
      ></textarea>
    </div>

    <div class="col-md-6">
      <label for="exampleFormControlTextarea1">Exámenes a solicitar</label>
      <textarea
        formControlName="exams"
        class="form-control"
        rows="3"
      ></textarea>
    </div>

    <div class="col-md-6">
      <label for="exampleFormControlTextarea1">Fórmula médica</label>
      <textarea
        formControlName="formula"
        class="form-control"
        rows="3"
      ></textarea>
    </div>
  </form>

  <div class="container_buttons-historia">
    <button type="button" class="btn btn-success" (click)="guardar()"  [disabled]="statusButtonSave">
      Guardar
    </button>
    <button
      (click)="actualizar()"
      style="color: white"
      type="button"
      class="btn btn-warning"
      [disabled]="statusButton"
    >
      Actualizar
    </button>
    <button (click)="eliminar()" type="button" class="btn btn-danger"  [disabled]="statusButton">
      Eliminar
    </button>

    <button (click)="listar()" type="button" class="btn btn-dark">
      Listar
    </button>
  </div>
</div>


<div *ngIf="!viewTable"  class="container__historia-master">
  <h1>Lista de historias clínicas</h1><br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Paciente</th>
        <th scope="col">Cédula</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Fecha de consulta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataList">
        <th scope="row">{{ item?.id }}</th>
        <td>{{ item?.name }}</td>
        <td>{{ item?.identification }}</td>
        <td>{{ item?.phone }}</td>
        <td>{{ item?.dateMedical }}</td>
      </tr>

    </tbody>
  </table>

  <div class="container_buttons-historia">
    <button (click)="volver()" type="button" class="btn btn-dark">
      Volver
    </button>
  </div>
</div>


