  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;App MinTic</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/menu">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/historia">Historia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/paciente">Paciente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/usuarios">Usuarios</a>
          </li>
      </ul>

    </div>
    <button routerLink="/sesion" class="btn btn-outline-warning my-2 my-sm-0" type="submit">Cerrar Sesión</button>
  </nav>
